.text {
    margin: 20px;
    padding: 10px;
}
.www {
    background-color: #30D5C8;
    color: black;
    font-size: 50px;
}
.sss {
    color: black;
    background-color: #30D5C8;
    font-size: 30px;
}
